/*select, .select2-container--default {
	position: relative !important;
	float: left !important;
	display: block;
}*/
select {
	width: 500px !important;
}
.dhxform_obj_material input.dhxform_textarea {
	width: 500px !important;
}
.dhxform_obj_material div.dhxform_item_label_left {
	padding-top: 60px !important;
}
.formBaseCss {
	display: inline-block;
	float: none !important;
}
.formCss {
	width: 100%;
	text-align: center;
}
.select2-container--default .select2-selection--multiple {
	border: none !important;
	border-radius: 0px !important;
	border-bottom: 1px solid #bfbfbf !important;
}

/*.dhxform_base {
    position:fixed;
    top: 50%;
    left: 50%;
    width:30em;
    height:18em;
    margin-top: -9em;
    margin-left: -15em; 
}*/
/*.btnDone {
	position: absolute;
	right:    0;
	bottom:   0;
}

.btnCancel {
	position: absolute;
	left:    0;
	bottom:   0;
}*/